<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Colors</title>
	<link rel="stylesheet" type="text/css" href="/color_css.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.min.css">
</head>
<body>
	<div class="row">
		<div class="firstrow">
			<a href="https://www.canva.com/" >
				<img src="/image/logo-turquoise.svg" class="acanva">
			</a>
		</div>
	</div>
	<script type="text/javascript" src="/bootstrap/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>