<!DOCTYPE html>
<html>
<head>
	<base href="http://localhost:3000/">
	<title>Hello</title>
    <script language="javascript" src="jquery/jquery-3.2.0.min.js" ></script>
    <script language="javascript" src="bootstrap/js/bootstrap.min.js"></script>                
    <link rel="stylesheet" href="bootstrap/css/bootstrap-grid.min.css"> 
    <link rel="stylesheet" href="bootstrap/css/bootstrap-reboot.min.css"> 
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">    
    <link rel="stylesheet" href="mystyle/style2.css">  
</head>
<body>

<script type="text/javascript">
	$(document).ready(() => {		
	});	
</script>
	
	<div id="header-detail">
		<div id="banner">
			<div id="header-left">	
					<a href="/"><img src="image/logo-turquoise.svg"/></a>
					<a href="/" style="text-decoration: none; color: black"><span>Learn</span></a>
			</div>		
			<div id="header-right">
				<div class="menu">
					<a href="#">Learn</a>
					<ul class="list_menu">
						<li><a href="#">Design school</a></li>
						<li><a href="#">Tutorials</a></li>
						<li><a href="#">Colors</a></li>
						<li><a href="#">Combinations</a></li>
						<li><a href="#">Teaching Materials</a></li>
						<li><a href="#">Design courses</a></li>
					</ul>
				</div>
				<div class="menu">
					<a href="#">Product</a>
					<ul class="list_menu">
						<li><a href="#">Web</a></li>
						<li><a href="#">iPad</a></li>
						<li><a href="#">iPhone</a></li>
						<li><a href="#">For Work</a></li>
						<li><a href="#">Education</a></li>
						<li><a href="#">Nonprofits</a></li>
						<li><a href="#">Pricing</a></li>
						<li><a href="#">Support</a></li>
					</ul>
				</div>	
				<div class="menu">
					<a href="#">About</a>
					<ul class="list_menu">
						<li><a href="#">Story</a></li>
						<li><a href="#">Careers</a></li>
						<li><a href="#">Media</a></li>
						<li><a href="#">Canva for Work Resources</a></li>
					</ul>

				</div>	
				<div class="menu">
					<a href="#">Tools</a>
					<ul class="list_menu">
						<li><a href="#">Photo editor</a></li>
						<li><a href="#">Color palette</a></li>
						<li><a href="#">Font combinations</a></li>
					</ul>

				</div>	
			</div>
		</div>	
		<div id="header-content">
			<div id="header-content-left">
				<h1>
					Everything about </br> the color <strong>Seafoam Green</strong>
				</h1>
				<p>The meaning of the color Seafoam Green and color <br>combinations to inspire your next design.</p>
				<p style="width: 200px; height: 45px; background-color: #d4e2f9; text-align: center; border-radius: 5px 5px 5px 5px; top: 10px; padding-top: 10px;" ><a href="#" style="text-align: center; text-decoration: none;">Color combinations</a></p>				
				
			</div>
			<div id="header-content-right">
				<div id="above">
					<p>Edit Seafoam Green</p>
				</div>
				<div id="under">
					<ul class="_block">
						<li><strong>Mono</strong></li>
						<li><strong>Analogous</strong></li>
						<li><strong>Complementary</strong></li>
						<li><strong>Triad</strong></li>
					</ul>

					<div id="Mono">
						<ul>
							<li id="one"></li>
							<li id="two"></li>
							<li id="three"></li>
							<li id="four"></li>
							<li id="five"></li>
							<li id="six"></li>
							<li id="seven"></li>
						</ul>						
					</div>					
					<div id="Analogous" style="display: none">
						<ul>
							<li id="one"></li>
							<li id="two"></li>
							<li id="three"></li>
							<li id="four"></li>
							<li id="five"></li>
							<li id="six"></li>
							<li id="seven"></li>
						</ul>						

					</div>					
					<div id="Complementary" style="display: none">
						<ul>
							<li id="one"></li>
							<li id="two"></li>
							<li id="three"></li>
							<li id="four"></li>
							<li id="five"></li>
							<li id="six"></li>
							<li id="seven"></li>
						</ul>						
						
					</div>					
					<div id="Triad" style="display: none">
						<ul>
							<li id="one"></li>
							<li id="two"></li>
							<li id="three"></li>
							<li id="four"></li>
							<li id="five"></li>
							<li id="six"></li>
							<li id="seven"></li>
						</ul>						
						
					</div>					

					<div class="_block" id="combinations">
						Color combinations
					</div>

					<div id="butterfly-kisses">
						<ul>
							<li id="one"></li>
							<li id="two"></li>
							<li id="three"></li>
							<li id="four"></li>
						</ul>					
					</div>

					<div id="berry-blues">
						<ul>
							<li id="one"></li>
							<li id="two"></li>
							<li id="three"></li>
							<li id="four"></li>
						</ul>					
					</div>

					<div id="soft-focus-forest">
						<ul>
							<li id="one"></li>
							<li id="two"></li>
							<li id="three"></li>
							<li id="four"></li>
						</ul>					
					</div>

					<div id="up-shore">
						<ul>
							<li id="one"></li>
							<li id="two"></li>
							<li id="three"></li>
							<li id="four"></li>
						</ul>					
					</div>

					<div class="_block" id="btn"></div>

				</div>
			</div>
		</div>
	</div>
	<div id="content">
		
	</div>
	<div id="footer"></div>
</body>
</html>
