<!DOCTYPE html>
<html>
<head>
	<base href="http://localhost:3000/">
	<title>Hello</title>
    <script language="javascript" src="jquery/jquery-3.2.0.min.js" ></script>
    <script language="javascript" src="bootstrap/js/bootstrap.min.js"></script>                
    <link rel="stylesheet" href="bootstrap/css/bootstrap-grid.min.css"> 
    <link rel="stylesheet" href="bootstrap/css/bootstrap-reboot.min.css"> 
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">    
    <link rel="stylesheet" href="mystyle/style2.css">  
</head>
<body>

<script type="text/javascript">
	$(document).ready(() => {		
	});	
</script>
	
	<div id="header-detail">
		<div id="banner">
			<div id="header-left">	
					<a href="/"><img src="image/logo-turquoise.svg"/></a>
					<a href="/" style="text-decoration: none; color: black"><span>Learn</span></a>
			</div>		
			<div id="header-right">
				<div class="menu">
					<a href="#">Learn</a>
					<ul class="list_menu">
						<li><a href="#">Design school</a></li>
						<li><a href="#">Tutorials</a></li>
						<li><a href="#">Colors</a></li>
						<li><a href="#">Combinations</a></li>
						<li><a href="#">Teaching Materials</a></li>
						<li><a href="#">Design courses</a></li>
					</ul>
				</div>
				<div class="menu">
					<a href="#">Product</a>
					<ul class="list_menu">
						<li><a href="#">Web</a></li>
						<li><a href="#">iPad</a></li>
						<li><a href="#">iPhone</a></li>
						<li><a href="#">For Work</a></li>
						<li><a href="#">Education</a></li>
						<li><a href="#">Nonprofits</a></li>
						<li><a href="#">Pricing</a></li>
						<li><a href="#">Support</a></li>
					</ul>
				</div>	
				<div class="menu">
					<a href="#">About</a>
					<ul class="list_menu">
						<li><a href="#">Story</a></li>
						<li><a href="#">Careers</a></li>
						<li><a href="#">Media</a></li>
						<li><a href="#">Canva for Work Resources</a></li>
					</ul>

				</div>	
				<div class="menu">
					<a href="#">Tools</a>
					<ul class="list_menu">
						<li><a href="#">Photo editor</a></li>
						<li><a href="#">Color palette</a></li>
						<li><a href="#">Font combinations</a></li>
					</ul>

				</div>	
			</div>
		</div>	
		<div id="header-content">
			<div id="header-content-left">
				<h1>
					Everything about </br> the color <strong>Seafoam Green</strong>
				</h1>
				<p>The meaning of the color Seafoam Green and color <br>combinations to inspire your next design.</p>
				<a href="#">Color combinations</a>
				<div class="hidden-hex">#b5eecb </div>
			</div>
			<div id="header-content-right">
				
			</div>
		</div>
	</div>
	<div id="content">
		
	</div>
	<div id="footer"></div>
</body>
</html>