<!DOCTYPE html>
<html>
<head>
	<base href="http://localhost:3000/">
	<title>Hello</title>
    <script language="javascript" src="jquery/jquery-3.2.0.min.js" ></script>
    <script language="javascript" src="bootstrap/js/bootstrap.min.js"></script>                
    <link rel="stylesheet" href="bootstrap/css/bootstrap-grid.min.css"> 
    <link rel="stylesheet" href="bootstrap/css/bootstrap-reboot.min.css"> 
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">    
    <link rel="stylesheet" href="mystyle/style.css"> 
	<link rel="stylesheet" type="text/css" href="/css/trans.css">
</head>
<body>

<script type="text/javascript">
	$(document).ready(() => {						
		<%for (var i = 0; i < data.length; i++) {		%>					
			$("#content").append("<a href='<%=data[i].color_name%>' ><div class='colors' id='trans' style='position:relative; display: block; color: white; width:20%; height:260px; background-color: <%=data[i].color_hex%>; float:left;'><div style='position:relative; background-color:<%=data[i].color_name%>; z-index:2;'></div> <div class='text_color'> <span>Read more about</span><br><strong><%=data[i].color_name%></strong> </div> </div></a>"); 

		<%}%>
	});	
</script>
	<div id="header">
		<div id="header-left">	
				<a href="/"><img class="image_logo" src="image/logo-turquoise.svg"/></a>
				<a href="/" style="text-decoration: none; color: black;font-weight: 400; font-size: 120%"><span>Learn</span></a>
		</div>		
		<div id="header-right">
			<div class="menu">
				<a href="#" class="alearn">Learn</a>
				<ul class="list_menu">
					<li class="liinlist"> <a href="#">Design school</a></li>
					<li class="liinlist"> <a href="#">Tutorials</a></li>
					<li class="liinlist"> <a href="#">Colors</a></li>
					<li class="liinlist"> <a href="#">Combinations</a></li>
					<li class="liinlist"> <a href="#">Teaching Materials</a></li>
					<li class="liinlist"> <a href="#">Design courses</a></li>
				</ul>
			</div>
			<div class="menu">
				<a href="#" class="aofmenu">Product</a>
				<ul class="list_menu">
					<li class="liinlist"> <a href="#">Web</a></li>
					<li class="liinlist"> <a href="#">iPad</a></li>
					<li class="liinlist"> <a href="#">iPhone</a></li>
					<li class="liinlist"> <a href="#">For Work</a></li>
					<li class="liinlist"> <a href="#">Education</a></li>
					<li class="liinlist"> <a href="#">Nonprofits</a></li>
					<li class="liinlist"> <a href="#">Pricing</a></li>
					<li class="liinlist"> <a href="#">Support</a></li>
				</ul>
			</div>	
			<div class="menu">
				<a href="#" class="aofmenu">About</a>
				<ul class="list_menu">
					<li class="liinlist"> <a href="#">Story</a></li>
					<li class="liinlist"> <a href="#">Careers</a></li>
					<li class="liinlist"> <a href="#">Media</a></li>
					<li class="liinlist"> <a href="#">Canva for Work Resources</a></li>
				</ul>

			</div>	
			<div class="menu">
				<a href="#" class="aofmenu">Tools</a>
				<ul class="list_menu">
					<li class="liinlist"> <a href="#">Photo editor</a></li>
					<li class="liinlist"> <a href="#">Color palette</a></li>
					<li class="liinlist"> <a href="#">Font combinations</a></li>
				</ul>

			</div>
			<div class="menu">
				<a href="#" class="aofmenu">Features</a>
				<ul class="list_menu_large">
					<li class="listinline"><a href="#">Document types</a>
						<ul class="ulinlinein">
							<li class="liinlinein"><a href="#"> Cards</a></li>
							<li class="liinlinein"><a href="#"> eCards</a></li>
							<li class="liinlinein"><a href="#"> Logo</a></li>
							<li class="liinlinein"><a href="#"> Labels</a></li>
							<li class="liinlinein"><a href="#"> Flyers</a></li>
							<li class="liinlinein"><a href="#"> Posters</a></li>
							<li class="liinlinein"><a href="#"> Banners</a></li>
							<li class="liinlinein"><a href="#"> Tickets</a></li>
							<li class="liinlinein"><a href="#"> Reports</a></li>
							<li class="liinlinein"><a href="#"> Resumes</a></li>
							<li class="liinlinein"><a href="#"> Brochures</a></li>
							<li class="liinlinein"><a href="#"> Postcards</a></li>
							<li class="liinlinein"><a href="#"> Calendars</a></li>
							<li class="liinlinein"><a href="#"> Proposals</a></li>
							<li class="liinlinein"><a href="#"> Infographics</a></li>
							<li class="liinlinein"><a href="#"> Letterheads</a></li>
							<li class="liinlinein"><a href="#"> Book Covers</a></li>
							<li class="liinlinein"><a href="#"> Announcements</a></li>
							<li class="liinlinein"><a href="#"> Newsletters</a></li>
							<li class="liinlinein"><a href="#"> Album Covers</a></li>
							<li class="liinlinein"><a href="#"> Photo Collages</a></li>
							<li class="liinlinein"><a href="#"> Presentations</a></li>
							<li class="liinlinein"><a href="#"> Business Cards</a></li>
							<li class="liinlinein"><a href="#"> Email Invitations</a></li>
							<li class="liinlinein"><a href="#"> Gift Certificates</a></li>
							<li class="liinlinein"><a href="#"> Magazine Covers</a></li>
							<li class="liinlinein"><a href="#"> Twitter Headers</a></li>
							<li class="liinlinein"><a href="#"> Facebook Covers</a></li>
							<li class="liinlinein"><a href="#"> Mockups</a></li>
							<li class="liinlinein"><a href="#"> Wedding Programs</a></li>
							<li class="liinlinein"><a href="#"> Media Kits</a></li>
							<li class="liinlinein"><a href="#"> Certificates</a></li>

						</ul>
					</li>
					<li class="listinline"><a href="#">Photo editting </a>
						<ul class="ulinlinein2">
							<li class="liinlinein"><a href="#"> Photo Blur </a></li>
							<li class="liinlinein"><a href="#"> Free Icons </a></li>
							<li class="liinlinein"><a href="#"> Free Badges </a></li>
							<li class="liinlinein"><a href="#"> Design Grid </a></li>
							<li class="liinlinein"><a href="#"> Vignette </a></li>
							<li class="liinlinein"><a href="#"> Stickers </a></li>
							<li class="liinlinein"><a href="#"> Speech Bubble </a></li>
							<li class="liinlinein"><a href="#"> Add Textures </a></li>
							<li class="liinlinein"><a href="#"> Crop Your Images </a></li>
							<li class="liinlinein"><a href="#"> Photo Effects </a></li>
							<li class="liinlinein"><a href="#"> Photo Frame </a></li>
							<li class="liinlinein"><a href="#"> Photo Straightener </a></li>
							<li class="liinlinein"><a href="#"> Transparent Images </a></li>
							<li class="liinlinein"><a href="#"> Add Text To Photos </a></li>
						</ul>
					</li>
					<li class="listinline"><a href="#">Graphs</a>
						<ul class="ulinlinein3">
							<li class="liinlinein"><a href="#"> Mind Maps </a></li>
							<li class="liinlinein"><a href="#"> Pie Charts </a></li>
							<li class="liinlinein"><a href="#"> Bar Graphs </a></li>
							<li class="liinlinein"><a href="#"> Line Graphs </a></li>
							<li class="liinlinein"><a href="#"> Organization Charts </a></li>
							<li class="liinlinein"><a href="#"> Venn Diagrams </a></li>
							<li class="liinlinein"><a href="#"> 3 Circle Venn Diagrams </a></li>
							<li class="liinlinein"><a href="#"> 4 Circle Venn Diagrams </a></li>
							<li class="liinlinein"><a href="#"> 5 Circle Venn Diagrams </a></li>
							<li class="liinlinein"><a href="#"> Doughnut Charts </a></li>
						</ul>
					</li>
				</ul>
			</div>	
			<div class="menu">
				<a href="#" class="aofmenu">Marketplace</a>
				<ul class="list_menu_large2">
					<li class="listinline2"><a href="#">Teamplates</a>
						<ul class="ulinlinein">
							<li class="liinlinein"><a href="#"> Flyers </a></li>
							<li class="liinlinein"><a href="#"> Posters </a></li>
							<li class="liinlinein"><a href="#"> Banners </a></li>
							<li class="liinlinein"><a href="#"> Infographics </a></li>
							<li class="liinlinein"><a href="#"> Book covers </a></li>
							<li class="liinlinein"><a href="#"> Cd covers </a></li>
							<li class="liinlinein"><a href="#"> Presentations </a></li>
							<li class="liinlinein"><a href="#"> Social graphics </a></li>
							<li class="liinlinein"><a href="#"> Business cards </a></li>
							<li class="liinlinein"><a href="#"> Letterheads </a></li>
							<li class="liinlinein"><a href="#"> Postcards </a></li>
							<li class="liinlinein"><a href="#"> Desktop wallpapers </a></li>
							<li class="liinlinein"><a href="#"> Résumé </a></li>
							<li class="liinlinein"><a href="#"> Collages </a></li>
							<li class="liinlinein"><a href="#"> Gift certificates </a></li>
							<li class="liinlinein"><a href="#"> Magazine covers </a></li>
							<li class="liinlinein"><a href="#"> Menus </a></li>
						</ul>
					</li>
					<li class="listinline2"><a href="#">Photos </a>
						<ul class="ulinlinein4">
							<li class="liinlinein"><a href="#"> Arts </a></li>
							<li class="liinlinein"><a href="#"> Nature </a></li>
							<li class="liinlinein"><a href="#"> Sports </a></li>
							<li class="liinlinein"><a href="#"> People </a></li>
							<li class="liinlinein"><a href="#"> Fashion </a></li>
							<li class="liinlinein"><a href="#"> Vintage </a></li>
							<li class="liinlinein"><a href="#"> Interiors </a></li>
							<li class="liinlinein"><a href="#"> Patterns </a></li>
							<li class="liinlinein"><a href="#"> Abstract </a></li>
							<li class="liinlinein"><a href="#"> Food &amp; Drink </a></li>
							<li class="liinlinein"><a href="#"> Health &amp; Beauty </a></li>
							<li class="liinlinein"><a href="#"> Parks &amp; Outdoor </a></li>
							<li class="liinlinein"><a href="#"> Animals &amp; Wildlife </a></li>
							<li class="liinlinein"><a href="#"> Business &amp; Finance </a></li>
							<li class="liinlinein"><a href="#"> Buildings &amp; Landmarks </a></li>
							<li class="liinlinein"><a href="#"> Backgrounds &amp; Textures </a></li>
						</ul>
					</li>
					<li class="listinline2"><a href="#">Icons</a>
						<ul class="ulinlinein5">
							<li class="liinlinein"><a href="#"> Social Media </a></li>
							<li class="liinlinein"><a href="#"> Web &amp; SEO </a></li>
							<li class="liinlinein"><a href="#"> Family &amp; Home </a></li>
							<li class="liinlinein"><a href="#"> Health &amp; Beauty </a></li>
							<li class="liinlinein"><a href="#"> Files &amp; Folders </a></li>
							<li class="liinlinein"><a href="#"> Travel &amp; Hotels </a></li>
							<li class="liinlinein"><a href="#"> Maps &amp; Navigation </a></li>
							<li class="liinlinein"><a href="#"> Arrows </a></li>
							<li class="liinlinein"><a href="#"> Music </a></li>
							<li class="liinlinein"><a href="#"> Security </a></li>
							<li class="liinlinein"><a href="#"> Weather </a></li>
							<li class="liinlinein"><a href="#"> Computer </a></li>
							<li class="liinlinein"><a href="#"> Gaming </a></li>
							<li class="liinlinein"><a href="#"> Healthcare </a></li>
							<li class="liinlinein"><a href="#"> Real Estate </a></li>
							<li class="liinlinein"><a href="#"> Food &amp; Beverage </a></li>
							<li class="liinlinein"><a href="#"> Business &amp; Finance </a></li>
							<li class="liinlinein"><a href="#"> Sports &amp; Recreation </a></li>
							<li class="liinlinein"><a href="#"> Education &amp; Science </a></li>
							<li class="liinlinein"><a href="#"> Events &amp; Entertainment </a></li>
						</ul>
					</li>
				</ul>
			</div>	
			<button style="background-color: #f8f9f9; margin-left: 20px; border: none;height: 42px; width: 13%;margin-top: -10px;border-radius: 4px 4px 4px 4px;color: #3f4652; font-size: 87.5%">Sign in</button>
		</div>
	</div>
	<center> 
		<img src="image/color-paint.svg" id="color-paint">
		<h1 id="h1-color-paint">Everything you need to know about 
			<strong id="strong-color-paint-weigh">colors</strong>
		</h1>
		<form id="formsearch" class="formmsearch">
			<input type="search" name="search_color" id="txtsearch" placeholder="Type a color name">
			<button type="submit" id="btnsearch">
				<img src="image/search.svg">
			</button>
		</form>
		<div>
			<a href="https://www.canva.com/colors/combinations/" id="linkaftersearch">Explore color combinations</a>
		</div>
	</center>
	<div id="content" style="margin-top: 50px">
		
	</div>
	<div id="footer"></div>
	
</body>
</html>
