.colors:hover .text_color{  
    display: block;    
}

.colors:hover {
    width: 25%;
    height: 40%;
}

.colors {
    transition: all. 3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;
}

.text_color {
    top: 40%;left: 30%; text-align:center; position:absolute; z-index: 1; display:none
}

#header-left {  
    margin-top: 20px;    
    float: left;
    width: 40%
}

#header-right {     
    margin-top: 30px;   
    display: inline;
    float: right;    
    width: 60%;
}

.menu {
    float: left;
    margin-right: 15%;
    display: block;
    position: relative;    
}

.list_menu {
    display: none;
}

.menu:hover .list_menu{
    display: inline
    ;
}

#content{    
    margin-top: 10px;
}

#header-detail {
    height: 500px;
    display: inline-block;
    width: 100%;
    background-image:url(/image/banner-shape.png);
    background-color: red;
    background-repeat: no-repeat;
}

#header-content {
    display: inline-block;
}

#banner {    
    height: 200px;
}

#header-content-left {
    margin-left: 75px;    
}